<nav
  class="col-12 navbar navbar-expand-md animated fast fadeIn nav-color mb-5 animated fast fadeIn"
>
  <div class="container-fluid">
    <a class="navbar-brand titleFon" routerLink="/home">
      <!--//! Icono  -->
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link titleFon title"
            aria-current="page"
            routerLinkActive="active"
            [routerLink]="['..', 'detalles']"
            >Detalles del Empleado</a
          >
        </li>
        <li class="nav-item title">
          <a
            class="nav-link titleFon"
            routerLinkActive="active"
            [routerLink]="['..', 'recibos']"
            >Recibos del Empleado</a
          >
        </li>
      </ul>
      <form class="d-flex">
        <button (click)="logOut()" class="btn btn-dark title btn-sm">
          Salir
        </button>
      </form>
    </div>
  </div>
</nav>
<header class="d-flex justify-content-end mb-2">
  <a
    routerLink="../../../inicio"
    class="me-5 title btn-sm btn btn-danger rounded-0"
    >Regresar</a
  >
</header>
