<div
  class="d-flex justify-content-center gap-3 align-baseline my-5 animated fast fadeIn"
>
  <h6 class="text-white fs-6">
    | RRHH_Gestion de Recibos | © Cristian Albornoz
    {{ date }}
  </h6>
  <a
    target="_blank"
    href="https://www.linkedin.com/in/cristian-albornoz-full-stack/"
    class="fa-brands fa-linkedin fs-5"
    style="color: #ffffff"
  ></a>
  <a
    target="_blank"
    href="https://www.linkedin.com/in/cristian-albornoz-full-stack/"
    class="fa-brands fa-github fs-5"
    style="color: #ffffff"
  ></a>
</div>
