<app-navbar-empleado></app-navbar-empleado>
<main class="container animated fast fadeIn" *ngIf="recibos">
  <div class="row justify-content-center">
    <div class="col-12 col-md-5 col-lg-3">
      <div class="row justify-content-center">
        <div class="col-12">
          <h4 class="title text-white-50 text-decoration-underline">
            Filtrar por Fecha
          </h4>
          <form action="" class="row">
            <label class="text-secondary-emphasis para fs-6" for=""
              >De fecha
            </label>
            <div class="col-12 input-group mb-3 input-group-sm">
              <input
                type="date"
                #fechaA
                class="title form-control-lg form-control text-white bg-transparent border-white rounded-0"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>
            <label class="text-secondary-emphasis para fs-6" for=""
              >a fecha</label
            >
            <div class="col-12 input-group mb-3 input-group-sm">
              <input
                type="date"
                #fechaB
                class="title form-control-lg form-control text-white bg-transparent border-white rounded-0"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>

            <div class="col-12 d-grid gap-2">
              <button
                class="btn-shadow title btn btn-info rounded-0 btn-sm"
                type="button"
                (click)="filterDate(fechaA, fechaB)"
              >
                Filtrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12 mb-3">
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          [defaultChecked]="false"
          (change)="reciboFirmado($event)"
          id="flexSwitchCheckChecked"
          checked
        />
        <span class="para text-white-50">Recibos Firmado</span>
      </div>
    </div>
    <table class="table col-12 table-responsive">
      <thead class="table-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Fecha</th>
          <th scope="col">Firmado</th>
          <th scope="col">Descargar</th>
        </tr>
      </thead>
      <tbody *ngFor="let recibo of recibosFilter">
        <tr>
          <th>{{ recibo.name }}</th>
          <td>{{ recibo.createOn }}</td>
          <td>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                [checked]="recibo.firmar"
                [disabled]="recibo.firmar"
                (click)="firmarRecibo(recibo.id)"
                id="flexCheckDefault"
              />
            </div>
          </td>
          <td>
            <button
              class="btn btn-sm btn-primary"
              [disabled]="!recibo.firmar"
              (click)="descargar(recibo)"
            >
              Descargar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
