<nav
  class="col-12 navbar navbar-expand-md animated fast fadeIn nav-color mb-5 animated fast fadeIn"
>
  <div class="container-fluid">
    <a class="navbar-brand titleFon" routerLink="/home">
      <!--//! Icono  -->
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="">
          <a
            class="nav-link titleFon title"
            aria-current="page"
            routerLinkActive="active"
            [routerLink]="['../', 'inicio']"
            >Lista de Empleados</a
          >
        </li>
        <li class="nav-item title">
          <a
            class="nav-link titleFon"
            routerLinkActive="active"
            [routerLink]="['../', 'agregar']"
            >Agregar Empleado</a
          >
        </li>
      </ul>
      <div class="d-flex justify-content-center align-items-baseline gap-5">
        <button
          class="titleFon btn btn-outline-light btn-sm para"
          routerLinkActive="active"
          [routerLink]="['../', 'editar']"
        >
          Editar Credenciales.
        </button>
        <a (click)="logOut()" class="btn btn-dark title btn-sm">Salir</a>
      </div>
    </div>
  </div>
</nav>
